.icons > svg {
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    width: 64px;
    height: 64px;
    margin: 1em;
}

.github-corner {
    position: absolute;
    top: 0;
    right: 0;
}

.github-corner img {
    width: 7em;
    height: 7em;
}
