.icon {
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    width: 64px;
    height: 64px;
    /* margin: 1em; */
}

.github-corner {
    position: absolute;
    top: 0;
    right: 0;
}

.github-corner img {
    width: 7em;
    height: 7em;
}

/* fixing color input (https://github.com/twbs/bootstrap/issues/18786#issuecomment-366243697) */
input[type=color].form-control {
    height: calc(2.25rem + 2px);
}
